body{
    background-color: powderblue;
}
h1{
    color: blue;
}
h1{
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p{
    border: 200px solid powderblue;
    padding: 30px;
    margin: 100px;
    color: red;
    color: red;
    font-family: courier;
    font-size: 160%;
}